
.product-images-slider .swiper-slide {
    padding-top: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.product-images-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
}

.product-images-slider .swiper-button-prev {
    left: 0;
    color: #000;
}

.product-images-slider .swiper-button-next {
    right: 0;
    color: #000;
}
.product-images-slider-thumbs{
    margin-bottom: 20px;
}
.product-images-slider-thumbs .swiper-slide {
    cursor: pointer;
    border: 1px solid #dddbdb;
}

.product-images-slider-thumbs .swiper-slide-thumb-active {
    border-color: #000;
}

.product-images-slider-thumbs-wrapper {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
}

.product-images-slider-thumbs-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
}