
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Card chính */
.notfound-card {
  /* max-width: 500px; */
  border-radius: 12px;
  animation: fadeInUp 0.5s ease-out forwards;
}

/* Icon */
.icon-404 {
  width: 96px;
  height: 96px;
  color: #93c5fd; /* tương đương text-blue-300 */
}
