.product-card {
  width: 100%; /* Đảm bảo card chiếm toàn bộ cột lưới */
  /* width: 250px; */
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: white;
}


.product-card:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product-image-container {
  width: 100%;
  padding-top: 100%; 
  position: relative;
  height: 250px;
  overflow: hidden;
  margin-bottom: 10px;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Đảm bảo hình ảnh vừa khít và không bị biến dạng */
  display: block;
}

.product-details {
  padding: 0 5px;
  text-align: left;
}

.product-card-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px 10px;

}

.product-title {
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #333;
  margin-bottom: 0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}


.price-section {
  display: flex;
  align-items: baseline;
  justify-content: flex-start !important;
  margin-bottom: 5px;
}

.current-price {
  font-size: 20px;
  font-weight: bold;
  color: #f40909;
  margin-right: 8px;
  text-align: left;
}

.old-price {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
  font-weight: 400;
}

.review-and-action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  width: -webkit-fill-available;
}

.rating-section {
  display: flex;
  align-items: center;
}

.rating-score {
  font-size: 14px;
  margin-right: 5px;
}

.star-icons {
  display: flex;
  font-size: 14px;
}

.star-filled {
  color: gold;
}

.star-empty {
  color: #ccc;
}

.add-to-cart-button {
  background-color: transparent;
  border: 1px solid #ccc; /* Thêm border mặc định */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-button:hover {
  background-color: #000;
  border-color: #000;
}

.add-to-cart-button:hover .cart-icon {
  color: white;
}

.cart-icon {
  font-size: 20px;
  color: #333;
  transition: color 0.3s ease;
}

/* Điều chỉnh kích thước chữ cho mobile 
  (Các kích thước này sẽ được kế thừa từ 768px trở xuống, 
  giúp giá và tiêu đề không quá lớn trên màn hình nhỏ)
*/
@media (max-width: 768px) {
  .product-title {
    font-size: 14px !important;
  }

  .current-price {
    font-size: 18px;
  }

  .old-price {
    font-size: 12px;
  }
}