.product-card {
  width: 250px; 
  border: 1px solid #eee; 
  border-radius: 8px; 
  overflow: hidden; 
  font-family: Arial, sans-serif;
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
}

.product-image-container {
  width: 100%;
  height: 300px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.product-image {
  width: 100%;
  height: auto;
  display: block;
}

.product-details {
  padding: 0 5px;
}

.product-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 0px;
  text-align: left;
}

.price-section {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.current-price {
  font-size: 20px;
  font-weight: bold;
  color: #f40909;
  margin-right: 8px;
  text-align: left;
}

.old-price {
  font-size: 14px;
  color: #999;
  text-decoration: line-through; 
  font-weight: 400;
}

.review-and-action-section {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.rating-section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.rating-score {
  font-size: 14px;
  margin-right: 5px;
}

.star-icons {
  display: flex;
  font-size: 14px; 
}

.star-filled {
  color: gold;
}

.star-empty {
  color: #ccc; 
}

.add-to-cart-button {
  background-color: transparent; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-button:hover {
  background-color: #000; 
  border-color: #000;
}

.add-to-cart-button:hover .cart-icon {
  color: white; 
}

.cart-icon {
  font-size: 20px; 
  color: #333; 
}