.product-reviews {
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}


.rating-bar {
  height: 8px;
  overflow: hidden;
}

.review-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.review-item:last-child {
  border-bottom: none;
}

.avt-review {
  width: 40px !important;
  margin-right: 10px;
  border-radius: 50px;
}